<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 5</title>
</head>
<body>

    <svg width="100%" height="300">
        <rect x="0" y="0" width="100%" height="100%" fill="#2c3e50"/>

        <circle cx="50%" cy="150" r="100" fill="#e74c3c"/>

        <rect x="150" y="100" width="200" height="100" fill="#f39c12"/>

        <polygon points="450,100 550,200 650,100" fill="#3498db"/>

        <text x="50%" y="250" fill="white" text-anchor="middle" font-size="24">Assignment 5</text>
    </svg>

    <nav class = "menue">
        <ul>
        <li><a href="../index.html">Home Page</a>  </li>
        <li><a href="two.html">Page two  </a></li>
        <li><a href="three.html">Page three</a>  </li>

        </ul>
       </nav>
       <h1>Favorite Coding Resources</h1>
       <table bgcolor = "black">
        <tr bgcolor ="white">
            <th>Coading Resource</th>
            <th>Link</th>
        </tr>
        <tr bgcolor ="white">
            <td> Fireship youtube channel</td>
            <td> <a href="https://www.youtube.com/@Fireship">https://www.youtube.com/@Fireship</a></td>
        </tr>
        <tr bgcolor ="white">
            <td>Code academy</td>
            <td> <a href="https://www.codecademy.com/login">https://www.codecademy.com/login</a></td>
        </tr>
        <tr bgcolor ="white">
            <td>JavaScript Tutorial</td>
            <td><a href="https://www.javascripttutorial.net/">https://www.javascripttutorial.net/</a> </td>
        </tr>
        <tr bgcolor ="white">
            <td>The coding sloth</td>
            <td><a href="https://www.youtube.com/@TheCodingSloth">https://www.youtube.com/@TheCodingSloth</a></td>
        </tr>
    </table> 
</body>
</html>